*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position:center;
    background-size: cover;
    padding: 0 9%;
    position:absolute;
}
.logo{
    width: 300px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content p{
    font-size: 50px;
    font-weight: 500;
}
.content h1 span{
    color:khaki;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content button img{
    width: 15px;
    margin-left: 15px;
}
.start-time{
    display: flex;
}
.start-time div{
    flex-basis: 100px;
}
.start-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.pumpkin{
    width: 205px;
    position:absolute;
    right: 0;
    bottom: 0;
    animation: pumpkin 10s linear infinite;
}
@keyframes pumpkin{
    0% {right: 0px;} 
    75% {right: 75%;}
    100% {right: 100%;}  
}
